
body {
    background-image: linear-gradient(
        to bottom,
        $header-color-primary     $header-height,
        $header-color-secondary   $header-height,
        $header-color-secondary  ($header-height + ($header-bottom-line / 2)),
        $header-color-tertiary   ($header-height + ($header-bottom-line / 2)),
        $header-color-tertiary   ($header-height + $header-bottom-line),
        $header-color-background ($header-height + $header-bottom-line),
        $header-color-background 100%
    );
    
    background-repeat: no-repeat;
    //background-color: $header-color-background;
    
    overflow: auto;
}

header {
    >span#logo {
        color: $header-color-symbols;
    }
    
    ul#icons>li.icon {
        &::before {
            border-bottom-color: $tooltip-color-background;
        }
        
        &::after {
            background-color: $tooltip-color-background;
            color: $tooltip-color-text;
        }
    }
}

.week-day {
    border-bottom-color: $week-day-underline-color;
    box-shadow: $week-day-underline-shadow;
}

#main>#lecture-explorer {
    >#search-and-add {
        >* {
            border-color: $search-and-add-border-color;
        }
        
        >#search-result-box {
            >.search-result.lecture-info {
                &:hover {
                    background-color: $highlight-background;
                    color: $highlight-text;
                }
            }
        }
    }
    
    >#accordion-window>#accordion {
        @each $color in $lecture-colors {
            $i: index($lecture-colors, $color);
            
            >.lecture-info:nth-child(#{$i}) {
                background-color: lighten($color, 20%);
                color: darken($color, 25%);
                    
                &:hover {
                    background-color: lighten($color, 15%);
                }
                
                >.lecture-info-header {
                    >.lecture-delete {
                        &:hover {
                            background-color: lighten($color, 5%);
                        }
                        
                        &:active {
                            background-color: $color;
                        }
                    }
                }
                
                >.lecture-classrooms {
                    //background-color: lighten($color, 33%);
                    >label.classroom {
                        >.classroom-number,
                        >.classroom-teacher {
                            opacity: 0.5;
                        }
                        
                        &:hover {
                            >.classroom-number,
                            >.classroom-teacher {
                                opacity: 0.8;
                            }
                        }
                    }
                    
                    >input[type='radio']:checked + label.classroom{
                        >.classroom-number,
                        >.classroom-teacher {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        
        >.lecture-info {
            >.lecture-classrooms {
                background-color: $white;
            }
        }
    }
}

            

/*

    >span#logo {
        font-size: 28px;
        font-weight: bold;
        font-family: tahoma;
        color: #FDFDFD;
    }

    >div.hover-mask {
        background-color: rgba(100, 100, 100, 0.5);
        border-style: solid;
        border-color: rgba(100, 100, 100, 0.8);
    }
*/
/* Colorindo os elementos do DOM para auxiliar
    o ajuste do layout */
/*

$opacity: 1;

#page-container {
    background-color:skyblue;
    opacity: $opacity;
}

header {
    background-color:greenyellow;
    opacity: $opacity;
}

span#logo {
    background-color:palevioletred;
    opacity: $opacity;
}

ul#icons {
    background-color:sandybrown;
    opacity: $opacity;
}

li.icon {
    background-color:yellow;
    opacity: $opacity;
}

div#main {
    background-color:orangered;
    opacity: $opacity;
}

div#lecture-schedule {
    background-color:cadetblue;
    opacity: $opacity;
}

div.column {
    background-color:lawngreen;
    opacity: $opacity;
}

div#lecture-explorer {
    background-color:mistyrose;
    opacity: $opacity;
} */