$color-primary: #FFA000;
$color-accent: #0097A7;
$color-accent-dark: darken($color-accent, 10%);
$textgray: #757575;

/* Header */
$header-color-primary: $color-primary;
$header-color-secondary: #64C6D3;
$header-color-tertiary: $color-accent;

$header-color-background: white;

$header-color-symbols: white;

$tooltip-color-background: #EAEAEA;
$tooltip-color-text: #3D3D3D;

/* Lecture Schedule */
$week-day-underline-color: #050505;
$week-day-underline-shadow: 0 4px 3px -4px #070707;

/* Lecture Explorer */
$search-and-add-border-color: #9f9f9f;
$highlight-background: #cacaca;
$highlight-text: black;

/* Lecture colors */
// Remember to update this in the UI javascript class as well.
$lecture-colors:
                 hsl(125, 70%, 61%), 
                 hsl(200, 94%, 61%),
                 hsl(24, 100%, 60%), 
                 hsl(298, 56%, 65%), 
                 hsl(46, 80%, 57%), 
                 hsl(76, 80%, 60%),
                 hsl(176, 76%, 58%), 
                 hsl(50, 48%, 66%), 
                 hsl(225, 55%, 64%),
                 hsl(330, 85%, 59%), 
                 hsl(140 ,42%, 58%),
                 hsl(263, 78%, 65%),
                 hsl(33, 27%, 58%);

/* Other */
$hover-background-default: #e6e6e6;
$active-background-default: #bbb;

html {
    font-family: $font-family;
    font-size: $font-size;
}

button {
    border: none;
    background: transparent;
    color: $color-accent;
    text-transform: uppercase;
    font-weight: bold;

    font-family: $font-family;
    font-size: $font-size;
    padding: 8px 8px;
    box-sizing: border-box;
    line-height: 100%;
    min-width: 64px;

    transition: background 0.1s ease, color 0.1s ease;

    &:hover {
        background: $hover-background-default;
        color: $color-accent;
    }

    &:active {
        background: $active-background-default;
        color: $color-accent-dark;
    }

    &:disabled {
        color: darkgray;
    }

    &.emphasis {
        border-radius: 4px;
        border: none;
        color: white;
        background: $color-accent;
        box-shadow: $shadow-default;

        &:hover {
            background: lighten($color-accent, 5);
        }

        &:active{
            background: desaturate(lighten($color-accent, 15), 20);
        }

        &:disabled {
            background: gray;
        }
    }

    &.header-button {
        color: white;
        transition: color .1s ease;

        &:hover {
            color: $color-accent;
            background: transparent;
        }

        &:disabled {
            color: white;
            opacity: .6;
        }
    }

    &.fas, &.fab, &.far {
        font-size: 18px;
        color: white;
        transition: color .1s ease;
        padding: 8px 12px;
        min-width: 0;

        &:hover {
            color: $color-accent;
            background: transparent;
        }

        &:active {
            color: $color-accent-dark;
        }

        &:disabled {
            color: white;
            opacity: .6;
        }
    }

    &.small-button, &.close-button {
        min-width: 0;
        padding: 2px;
    }

    &.close-button {
        font-weight: lighter;
    }

    &.inline-button {
        padding: 0;
        text-transform: none;
    }
}

a {
    color: $textgray;
    text-decoration: underline;

    &:hover {
        color: $color-accent;
    }

    &:active {
        color: $color-accent-dark;
    }
}

.fas.fa-spinner {
    will-change: transform;
    animation: rotate 0.8s linear 0s infinite;
}