@import '../application.scss';

/* Colors */
$header-color-primary: #FBA71C;
$header-color-secondary: #64C6D3;
$header-color-tertiary: #1495AB;
$header-color-background: #FEFEFE;

$header-color-symbols: #FEFEFE;

$tooltip-color-background: #EAEAEA;
$tooltip-color-text: #3D3D3D;

$week-day-underline-color: #050505;
$week-day-underline-shadow: 0 4px 3px -4px #070707;

/* Fonts */
$font-family: tahoma, helvetica;


@import '_base_themes.scss';