/* Sizes */
/*
$menu-height: 40px;
$menu-bottom-line-height: $menu-height / 4;
*/
/* Colors */
/*
$menu-color-1: #FBA71C;
$menu-color-2: #64C6D3;
$menu-color-3: #1495AB;

$background-color: #fffffa;
*/

$header-color-primary: #FBA71C;
$header-color-secondary: #64C6D3;
$header-color-tertiary: #1495AB;
$header-color-background: #FEFEFE;

@import '../application.scss';
@import '_base_themes.scss';