<FilesMatch "\.gz$">
Header set Content-Encoding gzip
</FilesMatch>
RewriteEngine on
#RewriteBase /~ramiro/matrufsc
SetEnv no-gzip dont-vary
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.+)\.(html|js|json|css)$ $1.$2.gz
