
.combobox {
    border:1px solid black;
    position:absolute;
    padding:0;
    margin:0;
}

.combobox ul {
    background-color:white;
    border:1px dotted;
    padding:1px;
    z-index:1;
    margin:0;
}

.combobox li {
    background-color:white;
    display:block;
    width:100%;
}

table.materias {
    font-family:monospace;
    font-size:11px;
    table-layout:fixed;
    background-color:black;
}

table.materias tbody tr:hover td {
    cursor:pointer;
}

.horario {
    font-family:monospace;
    font-size:11px;
}
.feiras {
    font-family:monospace;
    font-size:11px;
}
.aula {
    background-color:white;
    border:1px solid black;
    height:18px;
    width:60px;
    font-family:monospace;
    font-size:11px;
    text-align:center;
}
