html, body, ul, li, header, footer {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

li {
  list-style-type: none; }

/* Header */
/* Lecture Schedule */
/* Lecture Explorer */
/* Lecture colors */
html, body {
  width: 100%;
  height: 100%;
  min-width: 770px;
  min-height: 680px; }

body {
  overflow: auto;
  font-family: tahoma, helvetica;
  font-size: 12px;
  background-image: linear-gradient(to bottom, #FBA71C 40px, #64C6D3 40px, #64C6D3 45px, #1495AB 45px, #1495AB 50px, #FEFEFE 50px, #FEFEFE 100%);
  background-repeat: no-repeat; }

#page-container {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 960px;
  min-width: 770px; }

#main {
  position: relative;
  width: calc(100% - (2 * 15px));
  height: calc(100% - 50px - 30px - 2 * 15px);
  min-height: 560px;
  padding: 15px; }

header {
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
  -webkit-user-select: none; }

#logo,
#icons {
  height: 40px; }

#logo {
  padding-left: 25px;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 1px;
  color: #FEFEFE;
  cursor: default; }

#icons {
  display: inline-block;
  float: right;
  padding-right: 25px; }

#icalendar:focus {
  pointer-events: none; }

#icalendar:focus .onclick-menu-content {
  opacity: 1;
  visibility: visible;
  pointer-events: auto; }

.onclick-menu-content {
  position: absolute;
  z-index: 1000;
  top: calc(100%);
  width: 100px;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s; }

*:focus {
  outline: 0; }

footer {
  width: 100%;
  height: 30px;
  bottom: 0;
  position: relative; }
  footer > a {
    margin: 10px 15px; }
    footer > a:nth-child(1) {
      float: left; }
    footer > a:nth-child(2) {
      float: right; }

#lecture-schedule {
  display: inline-block;
  vertical-align: top;
  width: calc((2 / 3) * 100% - 3px);
  height: calc(100% - 40px);
  max-height: 640px;
  padding-top: 40px; }

#time-table {
  width: 100%;
  height: calc(100% - 100px); }

.column {
  display: inline-block;
  height: 100%;
  vertical-align: top; }

.column.time {
  width: 40px; }

.hour {
  height: calc(100% / 18);
  min-height: 23.33333px;
  font-size: 13px;
  line-height: 0; }

.column:not(.time) {
  background-image: url("../../images/stripes.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: calc((100% - 40px - (7 * 4.5px)) / 6); }

.week-day {
  position: absolute;
  top: -40px;
  width: 100%;
  padding-bottom: 4px;
  text-align: center;
  border-bottom-color: #050505;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  box-shadow: 0 4px 3px -4px #070707; }

#lecture-explorer {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc((1 / 3) * 100% - 3px);
  height: 100%;
  max-height: 680px;
  min-height: 560px; }

#search-and-add,
#accordion-window {
  width: 100%;
  position: relative; }

#search-and-add {
  position: relative;
  height: 30px;
  margin-bottom: 10px; }

#accordion-window {
  height: calc(100% - 30px - 10px - 100px);
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 2px;
  z-index: 1; }

#icons > li.icon {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  vertical-align: top;
  cursor: pointer; }
  #icons > li.icon > .hover-mask,
  #icons > li.icon > img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute; }
  #icons > li.icon > .hover-mask {
    width: 78%;
    height: 78%;
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 0px;
    border-radius: 3px;
    visibility: hidden;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2); }
  #icons > li.icon::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 100%;
    left: calc(50% - (12px / 2));
    z-index: 101;
    border-bottom-color: #EAEAEA;
    content: "";
    visibility: hidden; }
  #icons > li.icon::after {
    position: absolute;
    top: calc(100% + 6px);
    left: calc(-1 * (100px + (2 * 8px) - 100%) / 2);
    z-index: 100;
    display: block;
    width: 100px;
    height: auto;
    padding: 5px 8px;
    font-size: 13px;
    line-height: 21px;
    color: #3D3D3D;
    text-align: center;
    background-color: #EAEAEA;
    border-radius: 3px;
    content: attr(data-description);
    visibility: hidden;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3); }
  #icons > li.icon:last-child::after {
    right: 0;
    left: auto; }
  #icons > li.icon:hover > .hover-mask, #icons > li.icon:hover::before, #icons > li.icon:hover::after {
    visibility: visible; }
  #icons > li.icon:focus > .hover-mask, #icons > li.icon:focus::before, #icons > li.icon:focus::after {
    visibility: hidden;
    outline: 0; }
  #icons > li.icon:active > .hover-mask {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.2); }

#save-controller {
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 5px; }

.lecture-info .lecture-info-code,
.lecture-info .lecture-info-name,
.lecture-info .lecture-info-delete {
  display: inline-block;
  vertical-align: top; }
.lecture-info .lecture-info-code {
  width: 58px; }
.lecture-info .lecture-info-name {
  width: calc(100% - 58px - 4px); }

#search,
#add-extra-activity,
#search-result-box {
  position: relative;
  display: inline-block;
  height: calc(100% - 2 * 2px);
  border-color: #9f9f9f;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  box-sizing: content-box; }

#search {
  width: calc(100% - (2 * 5px) - (2 * 2px) - 2px - 30px);
  padding: 0 5px;
  font-family: tahoma, helvetica;
  font-size: 12px; }
  #search:focus {
    z-index: 11;
    border-radius: 2px 2px 0 0;
    outline: none;
    box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.4); }
    #search:focus ~ #add-extra-activity {
      opacity: 0.4; }

#add-extra-activity {
  float: right;
  width: calc(30px - 2 * 2px - 2px);
  padding: 0;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
  background-color: #FEFEFE; }
  #add-extra-activity:focus {
    outline: none; }
  #add-extra-activity:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  #add-extra-activity:active {
    background-color: rgba(0, 0, 0, 0.4); }

#search-result-box {
  position: absolute;
  top: 27px;
  z-index: 10;
  display: block;
  width: calc(100% - 2 * 2px);
  height: auto;
  max-height: 300px;
  min-height: 10px;
  overflow-y: auto;
  cursor: default;
  background-color: #FEFEFE;
  border-radius: 0 2px 2px 2px;
  visibility: hidden;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4); }

.search-result.lecture-info {
  padding: 6px 4px;
  border-bottom: 1px solid rgba(159, 159, 159, 0.8);
  display: block; }

.search-result-selected {
  background-color: #e8ffdb;
  color: #398417; }

#accordion {
  /* sum scroll-bar-width to hide it from the user */
  height: calc(100% + 15px);
  width: calc(100% + 15px);
  overflow: scroll; }

.lecture-info {
  position: relative;
  width: calc(100% - 2px);
  padding: 1px;
  display: none; }

.lecture-info-plan-active {
  display: block; }

.lecture-info-header {
  position: relative; }

.lecture-info-header-title {
  position: relative;
  left: 20px;
  display: block;
  width: calc(100% - 3 * 30px - 2 * 6px - 20px);
  height: 30px;
  max-height: 100%;
  padding: 7px 0 7px 8px;
  overflow: hidden;
  line-height: 30px;
  cursor: pointer; }
  .lecture-info-header-title > .lecture-info-name {
    width: calc(100% - 58px - 4px); }

.lecture-info-checkbox {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  position: absolute;
  width: 20px; }

.classrooms-header-checkbox,
.classroom-info-checkbox {
  width: 20px; }

.lecture-info-up,
.lecture-info-down,
.lecture-info-delete {
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  cursor: pointer; }
  .lecture-info-up > img,
  .lecture-info-down > img,
  .lecture-info-delete > img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    width: 20px;
    opacity: 0.3; }

.lecture-info-up {
  right: calc(2 * 30px); }

.lecture-info-down {
  right: 30px; }

.lecture-info-delete {
  right: 0; }

.lecture-classrooms {
  position: relative;
  height: 0px;
  overflow: hidden;
  background-color: #FEFEFE;
  cursor: default; }
  .lecture-classrooms > .classrooms-header {
    padding-top: 6px;
    padding-bottom: 6px; }
  .lecture-classrooms > .classroom-info {
    display: block;
    padding-top: 4px;
    padding-bottom: 7px; }
  .lecture-classrooms > .classrooms-header:not(:last-child),
  .lecture-classrooms > .classroom-info:not(:last-child) {
    border-bottom: 1px solid; }
  .lecture-classrooms > .classrooms-header .classroom-code,
  .lecture-classrooms > .classrooms-header .classroom-teacher,
  .lecture-classrooms > .classrooms-header .classroom-toggle,
  .lecture-classrooms > .classroom-info .classroom-code,
  .lecture-classrooms > .classroom-info .classroom-teacher,
  .lecture-classrooms > .classroom-info .classroom-toggle {
    display: inline-block;
    vertical-align: middle; }
  .lecture-classrooms > .classrooms-header .classroom-code,
  .lecture-classrooms > .classroom-info .classroom-code {
    width: 40px;
    text-align: center;
    margin: 0 10px; }
  .lecture-classrooms > .classrooms-header .classroom-teacher,
  .lecture-classrooms > .classroom-info .classroom-teacher {
    width: calc(100% - 58px - 30px); }
  .lecture-classrooms > .classrooms-header .classroom-toggle,
  .lecture-classrooms > .classroom-info .classroom-toggle {
    position: relative;
    left: 2px; }

.lecture-open > .lecture-classrooms {
  height: auto; }
.lecture-open .lecture-info-header-title {
  height: auto;
  line-height: normal; }
.lecture-open .lecture-info-code {
  vertical-align: middle; }

.lecture-classrooms > .classroom-info > .classroom-code,
.lecture-classrooms > .classroom-info > .classroom-teacher {
  opacity: 0.4; }
.lecture-classrooms > .classroom-info:hover > .classroom-code,
.lecture-classrooms > .classroom-info:hover > .classroom-teacher {
  opacity: 0.6; }
.lecture-classrooms > .classroom-selected > .classroom-code,
.lecture-classrooms > .classroom-selected > .classroom-teacher,
.lecture-classrooms > .classroom-selected:hover > .classroom-code,
.lecture-classrooms > .classroom-selected:hover > .classroom-teacher {
  opacity: 1; }

.lecture-info.color-1 {
  background-color: #bdefac;
  color: #3d991d; }
  .lecture-info.color-1:hover {
    background-color: #adeb96; }
  .lecture-info.color-1 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-1 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-1 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #8be36b; }
  .lecture-info.color-1 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-1 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-1 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #7adf56; }

.lecture-info.color-2 {
  background-color: #a0ddfc;
  color: #0577b1; }
  .lecture-info.color-2:hover {
    background-color: #87d4fb; }
  .lecture-info.color-2 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-2 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-2 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #56c2fa; }
  .lecture-info.color-2 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-2 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-2 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #3db9f9; }

.lecture-info.color-3 {
  background-color: #ffcf8c;
  color: #a56100; }
  .lecture-info.color-3:hover {
    background-color: #ffc572; }
  .lecture-info.color-3 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-3 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-3 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #ffb040; }
  .lecture-info.color-3 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-3 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-3 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #ffa526; }

.lecture-info.color-4 {
  background-color: #e5c5ed;
  color: #86309c; }
  .lecture-info.color-4:hover {
    background-color: #dcb1e7; }
  .lecture-info.color-4 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-4 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-4 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #cb8adb; }
  .lecture-info.color-4 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-4 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-4 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #c277d5; }

.lecture-info.color-5 {
  background-color: #aff4ef;
  color: #17a79d; }
  .lecture-info.color-5:hover {
    background-color: #98f1eb; }
  .lecture-info.color-5 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-5 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-5 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #6bebe2; }
  .lecture-info.color-5 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-5 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-5 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #55e8de; }

.lecture-info.color-6 {
  background-color: #ffb2c1;
  color: #cc0027; }
  .lecture-info.color-6:hover {
    background-color: #ff99ac; }
  .lecture-info.color-6 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-6 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-6 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #ff6683; }
  .lecture-info.color-6 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-6 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-6 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #ff4c6e; }

.lecture-info.color-7 {
  background-color: #ffe88c;
  color: #a58400; }
  .lecture-info.color-7:hover {
    background-color: #ffe372; }
  .lecture-info.color-7 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-7 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-7 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #ffd840; }
  .lecture-info.color-7 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-7 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-7 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #ffd326; }

.lecture-info.color-8 {
  background-color: #ff96cb;
  color: #b00059; }
  .lecture-info.color-8:hover {
    background-color: #ff7cbf; }
  .lecture-info.color-8 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-8 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-8 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #ff49a6; }
  .lecture-info.color-8 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-8 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-8 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #ff3099; }

.lecture-info.color-9 {
  background-color: #d5c8b7;
  color: #6a563d; }
  .lecture-info.color-9:hover {
    background-color: #ccbba7; }
  .lecture-info.color-9 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-9 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-9 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #b9a286; }
  .lecture-info.color-9 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-9 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-9 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #b09676; }

.lecture-info.color-10 {
  background-color: #dceac1;
  color: #739431; }
  .lecture-info.color-10:hover {
    background-color: #d2e4ad; }
  .lecture-info.color-10 > .lecture-info-header > .lecture-info-up:hover,
  .lecture-info.color-10 > .lecture-info-header > .lecture-info-down:hover,
  .lecture-info.color-10 > .lecture-info-header > .lecture-info-delete:hover {
    background-color: #bdd787; }
  .lecture-info.color-10 > .lecture-info-header > .lecture-info-up:active,
  .lecture-info.color-10 > .lecture-info-header > .lecture-info-down:active,
  .lecture-info.color-10 > .lecture-info-header > .lecture-info-delete:active {
    background-color: #b2d174; }

#plans {
  border: 1px solid transparent;
  height: 25px; }

.plan {
  width: calc(100%/3 - 1.4px);
  height: 25px;
  line-height: 25px;
  display: inline-block;
  position: relative;
  text-align: center;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-top: 1px solid white;
  float: left;
  top: -2px;
  border-radius: 0 0 2px 2px;
  cursor: pointer;
  overflow: hidden; }
  .plan:not(:first-child) {
    margin-left: -1px; }

.plan-active {
  z-index: 2; }

.plan-options-open {
  height: auto; }
  .plan-options-open > .plan-tab-options-arrow > img {
    transform: rotate(180deg); }

.plan-tab-name {
  width: calc(70% - 5px);
  float: left;
  padding-left: 5px; }
  .plan-tab-name:hover {
    background-color: #ddd; }
  .plan-tab-name:active {
    background-color: #aaa; }

.plan-tab-options-arrow {
  width: 30%;
  float: right; }
  .plan-tab-options-arrow:hover {
    background-color: #ddd; }
  .plan-tab-options-arrow:active {
    background-color: #aaa; }
  .plan-tab-options-arrow > img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 12px; }

.plan-tab-option {
  width: 100%;
  float: left;
  border-top: 1px solid rgba(200, 200, 200, 0.8);
  background-color: white; }
  .plan-tab-option:hover {
    background-color: #ddd; }
  .plan-tab-option:active {
    background-color: #aaa; }

#upload-button {
  position: absolute;
  width: 200px;
  height: 40px;
  bottom: 0;
  right: 0;
  border: 1px solid lightgray;
  cursor: pointer; }
  #upload-button:hover {
    background-color: #ddd; }
  #upload-button:active {
    background-color: #aaa; }
  #upload-button > input {
    display: none; }
  #upload-button > div,
  #upload-button > img {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    text-align: center; }
  #upload-button > img {
    width: 20px;
    right: 10px; }
  #upload-button > div {
    width: calc(100% - 30px);
    height: 1em; }

.schedule-box {
  position: absolute;
  width: calc(100% - 2.3px);
  visibility: hidden; }

.schedule-box-show,
.schedule-box-classroom-hover {
  visibility: visible; }

.schedule-box.color-1 {
  background-color: #bdefac;
  color: #3d991d;
  border-left: 2.3px solid #3d991d; }
  .schedule-box.color-1 > .timespan-mini {
    background-color: #bdefac; }

.schedule-box-highlight.color-1 {
  background-color: #7adf56; }
  .schedule-box-highlight.color-1 > .timespan-mini {
    background-color: #7adf56; }

.schedule-box.color-2 {
  background-color: #a0ddfc;
  color: #0577b1;
  border-left: 2.3px solid #0577b1; }
  .schedule-box.color-2 > .timespan-mini {
    background-color: #a0ddfc; }

.schedule-box-highlight.color-2 {
  background-color: #3db9f9; }
  .schedule-box-highlight.color-2 > .timespan-mini {
    background-color: #3db9f9; }

.schedule-box.color-3 {
  background-color: #ffcf8c;
  color: #a56100;
  border-left: 2.3px solid #a56100; }
  .schedule-box.color-3 > .timespan-mini {
    background-color: #ffcf8c; }

.schedule-box-highlight.color-3 {
  background-color: #ffa526; }
  .schedule-box-highlight.color-3 > .timespan-mini {
    background-color: #ffa526; }

.schedule-box.color-4 {
  background-color: #e5c5ed;
  color: #86309c;
  border-left: 2.3px solid #86309c; }
  .schedule-box.color-4 > .timespan-mini {
    background-color: #e5c5ed; }

.schedule-box-highlight.color-4 {
  background-color: #c277d5; }
  .schedule-box-highlight.color-4 > .timespan-mini {
    background-color: #c277d5; }

.schedule-box.color-5 {
  background-color: #aff4ef;
  color: #17a79d;
  border-left: 2.3px solid #17a79d; }
  .schedule-box.color-5 > .timespan-mini {
    background-color: #aff4ef; }

.schedule-box-highlight.color-5 {
  background-color: #55e8de; }
  .schedule-box-highlight.color-5 > .timespan-mini {
    background-color: #55e8de; }

.schedule-box.color-6 {
  background-color: #ffb2c1;
  color: #cc0027;
  border-left: 2.3px solid #cc0027; }
  .schedule-box.color-6 > .timespan-mini {
    background-color: #ffb2c1; }

.schedule-box-highlight.color-6 {
  background-color: #ff4c6e; }
  .schedule-box-highlight.color-6 > .timespan-mini {
    background-color: #ff4c6e; }

.schedule-box.color-7 {
  background-color: #ffe88c;
  color: #a58400;
  border-left: 2.3px solid #a58400; }
  .schedule-box.color-7 > .timespan-mini {
    background-color: #ffe88c; }

.schedule-box-highlight.color-7 {
  background-color: #ffd326; }
  .schedule-box-highlight.color-7 > .timespan-mini {
    background-color: #ffd326; }

.schedule-box.color-8 {
  background-color: #ff96cb;
  color: #b00059;
  border-left: 2.3px solid #b00059; }
  .schedule-box.color-8 > .timespan-mini {
    background-color: #ff96cb; }

.schedule-box-highlight.color-8 {
  background-color: #ff3099; }
  .schedule-box-highlight.color-8 > .timespan-mini {
    background-color: #ff3099; }

.schedule-box.color-9 {
  background-color: #d5c8b7;
  color: #6a563d;
  border-left: 2.3px solid #6a563d; }
  .schedule-box.color-9 > .timespan-mini {
    background-color: #d5c8b7; }

.schedule-box-highlight.color-9 {
  background-color: #b09676; }
  .schedule-box-highlight.color-9 > .timespan-mini {
    background-color: #b09676; }

.schedule-box.color-10 {
  background-color: #dceac1;
  color: #739431;
  border-left: 2.3px solid #739431; }
  .schedule-box.color-10 > .timespan-mini {
    background-color: #dceac1; }

.schedule-box-highlight.color-10 {
  background-color: #b2d174; }
  .schedule-box-highlight.color-10 > .timespan-mini {
    background-color: #b2d174; }

.schedule-box-highlight.schedule-box-highlight-conflict {
  background-color: #f00;
  border-left-color: #800;
  color: black;
  opacity: 0.8;
  z-index: 1; }

.lecture-code {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  bottom: 1px; }

.timespan {
  position: absolute; }

.timespan-begin {
  left: 2px; }

.timespan-end {
  bottom: 2px;
  right: 3px; }

.timespan-mini {
  left: 0;
  right: 0;
  visibility: hidden; }

.timespan-mini.timespan-begin {
  top: -14px; }

.timespan-mini.timespan-end {
  bottom: -13px;
  text-align: right; }

.schedule-box:hover .timespan-mini,
.schedule-box-highlight .timespan-mini {
  visibility: visible;
  z-index: 1; }

#combination-controller {
  position: relative;
  width: calc(100% - 10px);
  height: calc(100px - 20px);
  margin-top: 20px; }

.combination-button {
  position: absolute;
  float: left;
  height: 100%;
  width: 34px;
  top: -1px;
  background-color: white;
  border: 1px solid lightgray;
  z-index: 1;
  cursor: pointer; }
  .combination-button > img {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    position: absolute;
    width: 30px;
    transform: rotate(90deg);
    opacity: 0.6; }
  .combination-button:hover {
    background-color: #ddd; }
  .combination-button:active {
    background-color: #aaa; }

.combination-button-left {
  left: 0; }

.combination-button-right {
  right: 0; }

#combination-track-window {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: calc(100% + 15px);
  position: absolute;
  float: left;
  width: calc(100% - 2 * 34px - 6px);
  overflow-x: scroll;
  overflow-y: hidden; }

#combination-track {
  height: 100%;
  width: 0; }

.combination {
  position: relative;
  display: none;
  margin: 1px 5px;
  width: 90px;
  height: calc(100% - 4px);
  overflow: hidden;
  border: 1px solid lightgray;
  cursor: pointer; }
  .combination:hover {
    background-color: #ddd; }
  .combination:active {
    background-color: #aaa; }

.combination.combination-highlight {
  background-color: #eee;
  box-shadow: 0 0 3px #eee; }

.combination.combination-plan-active {
  display: inline-block; }

.combination > .column:not(.time) {
  width: calc(100% / 6);
  background-image: none; }
  .combination > .column:not(.time) span {
    visibility: hidden; }

/*# sourceMappingURL=application.css.map */
