// 
//
// Base Layout
// ===========
//
// This file structures the basic layout for the page. It defines
// positioning and min/max sizes on a base level: this means that 
// it only modifies elements listed here.
// 
// Affected HTML
// -------------
//
//   html
//     body
//       div#page-container
//         header
//         div#main
//           div#lecture-schedule
//			 div.flex-spacer
//           div#lecture-explorer
//         footer
//
//

* {
  box-sizing: border-box;
}

html, body {
    width: 100%;
    min-width: $page-min-width;
}

body {
    overflow: auto;
    background: $header-color-background;
    
}

#main {
    position: relative;
	display: flex;
	flex-wrap: wrap;

	margin: auto;
	max-width: $page-max-width;
    min-width: $page-min-width;
    z-index: 0;
}

.flex-spacer {
	flex: 0 0 $flex-spacer-basis;
}