// 
//
// Footer Layout
// =============
//
// This file structures the footer layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > footer
//
//	footer
//		a
//		a	
//
//

#page-container>footer>a {
    position: absolute;
    bottom: 0;
    margin: 10px 15px;
    
    &:last-child {
        right: 0;
    }
}