// 
//
// Footer Layout
// =============
//
// This file structures the footer layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > footer
//
//	footer
//		a
//		a	
//
//

footer {
  width: 100%;
  height: $footer-height;
  bottom: 0;
  position: relative;

  >a {
    margin: 10px 15px;
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      float: right;
    }
  }
}