// 
//
// Header Layout
// =============
//
// This file structures the header layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > header
//
//  header
//      span#logo
//      ul#icons
//
//

header {
    user-select: none;
    // TODO autoprefixer will include this, when linked delete this next line
    -webkit-user-select: none;
}

#logo {
    padding-left: $header-height / 2;
    font-size: $font-size-logo;
    font-weight: bold;
    // line-height equal to parent height, centralizes the text
    line-height: $header-height;
    letter-spacing: $logo-letter-spacing;
    color: $header-color-symbols;
    cursor: default;
}

#icons {
    display: inline-block;
    float: right;
    height: 100%;
    padding-right: $header-height / 2;
}