// 
//
// Lecture Schedule Layout
// =======================
//
// This file structures the basic lecture schedule layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main > div#lecture-schedule
//
//  div#lecture-explorer
//      div#search-and-add
//      div#accordion-window
//
//

#lecture-schedule {
  display: inline-block;
  vertical-align: top;
  // subtracting 3px to deal with standard spacing between 
  // inline-block elements
  height: $lecture-schedule-height - $lecture-schedule-padding-top;
  padding-top: $lecture-schedule-padding-top;
  padding-bottom: $lecture-schedule-padding-bottom;
  flex: 2 0 $lecture-schedule-basis;
}

#time-table {
  width: 100%;
  height: calc(100% - #{$lecture-schedule-combination-controller-height});
  display: flex;
}

.column {
  display: inline-block;
  height: 100%;
  vertical-align: top;
}

.column.time {
  flex: 0 0 $column-time-width;
}

.hour {
  height: calc(100% / 18);
  // 19 elements and 18 "slots" inside this column. 
  // Aligning vertically each text with upper div border
  // (setting line-height to zero,  miraculously!), we get
  // 06:00 aligned with top border and 00:00 aligned with 
  // bottom border (that's actually its upper border).
  font-size: $font-size-hour;
  line-height: 0;
}

.column:not(.time) {
  background-image: url('../../images/stripes.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  flex: 1 0 auto;
  margin: 0 $column-margin-horizontal;
}

.week-day {
  position: absolute;
  top: - $lecture-schedule-padding-top;
  width: 100%;
  padding-bottom: $week-day-underline-height;
  text-align: center;
  border-bottom-color: $week-day-underline-color;
  border-bottom-style: solid;
  border-bottom-width: $column-background-line-height;
  box-shadow: $week-day-underline-shadow;
}
