// 
//
// Lecture Schedule Layout
// =======================
//
// This file structures the basic lecture schedule layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main > div#lecture-schedule
//
//  div#lecture-explorer
//      div#search-and-add
//      div#accordion-window
//
//

#lecture-schedule {
    >.column {
        display: inline-block;
        height: 100%;
        vertical-align: top;
    }
        
    >.column.time {
        width: $column-time-width;
        
        >.hour {
            height: $hour-height;
            // 19 elements and 18 "slots" inside this column. 
            // Aligning vertically each text with upper div border
            // (setting line-height to zero,  miraculously!), we get
            // 06:00 aligned with top border and 00:00 aligned with 
            // bottom border (that's actually its upper border).
            min-height: ($lecture-schedule-min-height - $lecture-schedule-padding-top) / 18;
            font-size: $font-size-hour;
            line-height: 0;
        }
    }
        
    // TODO test replace ":first-child" with ".time"
    >.column:not(:first-child) {
        // TODO test take off "$variable:" before #COLORR
        background-image: url('../../images/stripes.gif');
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        position: relative;
        // 4.5px empirically set to fill the parent div with these columns.
        width: calc((100% - #{$column-time-width} - (7 * 4.5px)) / 6);
    
        >.week-day {
            position: absolute;
            top: - $lecture-schedule-padding-top;
            width: 100%;
            padding-bottom: $week-day-underline-height;
            text-align: center;
            border-bottom-color: $week-day-underline-color;
            border-bottom-style: solid;
            border-bottom-width: $column-background-line-height;
            box-shadow: $week-day-underline-shadow;
        }
    }
}
