// 
//
// Lecture Schedule Layout
// =======================
//
// This file structures the basic lecture schedule layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main > div#lecture-schedule
//
//  div#lecture-explorer
//      div#search-and-add
//      div#accordion-window
//
//

#lecture-schedule {
  display: flex;
  flex-direction: column;
  vertical-align: top;
  min-height: $lecture-schedule-height;
  flex: 2 1 $lecture-schedule-basis;
  min-width: 0;
  margin: 16px 0;
}

#time-table {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: $time-table-padding;
  padding-bottom: 8px;
  box-sizing: border-box;
}

.column {
  vertical-align: top;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.column.time {
  flex: 0 0 auto;
  background: white;
  z-index: -2;
  position: sticky;
  left: 0;

  & .column-content {
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
}

.hour {
  flex: 0 0 0;
  font-size: $lecture-schedule-font-size-hour;
  color: $lecture-schedule-hour-color;
  text-align: right;
  line-height: 0;
}

.column:not(.time) {
  position: relative;
  flex: 1 0 $column-basis;

  & .column-content {
    margin: 0 $column-margin-horizontal;
  }
}

.column.hidden {
  display: none;
}

.column-header {
  box-sizing: border-box;
  text-align: center;
  flex: 0 0 24px;
  margin-bottom: 8px;
  padding-bottom: 4px;
  color: $textgray;
  font-size: $lecture-schedule-font-size-header;
}



.column-content {
  flex: 1 0 0;
  position: relative;
}

.column-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
  z-index: -3;

  svg {
    overflow: visible;
    width: 100%;
    height: 100%;

    & line {
      stroke: $lecture-schedule-line-stroke;
      stroke-width: 1px;
      shape-rendering: crispedges;
      animation: grow ease 1s both;
      transform-origin: center;

      &.even {
        stroke-width: 2px;
      }

      &.odd {
        animation-delay: 0.6s;
      }
    }
  }
}
