// 
//
// Lecture Explorer Layout
// =======================
//
// This file structures the basic lecture explorer layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main > div#lecture-explorer
//
//  div#lecture-explorer
//      div#search-and-add
//      div#accordion-window
//
//


#lecture-explorer {
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: top;
    min-height: $lecture-explorer-height;
	flex: 1 1 $lecture-explorer-basis;
	min-width: 0;
	margin: 16px 4px;
}

#search-and-add,
#accordion-window {
    width: 100%;
    position: relative;
}

#search-and-add {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 4px;
}

#explorer-footer {
	flex: 0 0 auto;
	display: grid;
	grid-gap: 4px;
	grid-template-columns: minmax(auto, 1fr) 2fr;
	margin-top: 10px;
}

#accordion-window {
    flex: 1 0 0;
    border: $border-default;
    border-bottom: none;
    min-height: 0;
    height: 100%;
}