// 
//
// Accordion Layout
// =====================
//
// This file structures the accordion layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main 
// > div#lecture-explorer > div#accordion-window
//
//  div#accordion-window
//      div#accordion
//  ->      div#lecture-info
//              input#lecture-info-01
//              div#lecture-info-header
//                  label[for=lecture-info-01]
//                      div.lecture-info-code
//                      div.lecture-info-name
//              div#lecture-classrooms
//                  div.classrooms-header
//                      div.classroom-number
//                      div.classroom-teacher
//                      div.classroom-toggle 
//            ->    input#classroom-01
//                  label.classroom-info[for=classroom-01]
//                      div.classroom-number
//                      div.classroom-teacher
//                      div.classroom-toggle 
//            ->    ...
//  ->      ...
//
//

#accordion {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

// TODO compare these properties with those inside "_base_lecture_info.scss"
.lecture-info {
  position: relative;
  width: 100%;
  padding: 1px;
  user-select: none;
  cursor: default;

  &.slip-reordering {
    box-shadow: $shadow-default;
  }
}

.lecture-info-header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 44px;
}

.lecture-info-checkbox {
  flex: 0 0 $width-lecture-checkbox;
}

.classrooms-header-checkbox,
.classroom-info-checkbox {
  width: $width-lecture-checkbox;
}

// This is here as a decision to abandon this functionality
// but it can be of use later on.
.classrooms-header-checkbox {
  visibility: hidden;
}

.lecture-info-delete {
  position: relative;
  flex: 0 0 $width-lecture-delete;

  >img {
    @include center-block-horizontally();
    @include center-block-vertically();
    position: absolute;
    width: $width-icon-delete;
    opacity: 0.3;
  }
}

.lecture-classrooms {
  position: relative;
  height: 0px;
  overflow: hidden;
  background-color: $white;
  cursor: default;
  //transition: height .4s;
  
  >.classrooms-header {
    padding-top: 6px;
    padding-bottom: 6px;
  }
  
  >.classroom-info {
    display: block;
    padding-top: 4px;
    padding-bottom: 7px;
  }
  
  >.classrooms-header,
  >.classroom-info {
    &:not(:last-child) {
      border-bottom: 1px solid;
    }

    .classroom-code,
    .classroom-teacher,
    .classroom-toggle {
      display: inline-block;
      vertical-align: middle;
    }

    .classroom-code {
      // TODO change to variable
      width: 40px;
      text-align: center;
      // TODO change to variable
      margin: 0 10px;
    }

    .classroom-teacher {
      width: calc(100% - #{$width-lecture-code} - #{$width-lecture-delete})
    }

    .classroom-toggle {
      position: relative;
      // TODO change to variable
      left: 2px;
    }
  }
}

.lecture-info-name {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px 8px;
}

.lecture-info-code {
  flex: 0 0 auto;
  padding: 4px;
  text-align: center;
}

.lecture-open {
  >.lecture-classrooms {
    height: auto;
  }

  .lecture-info-name {
    white-space: normal;
    height: auto;
    line-height: normal;
  }
}

.lecture-classrooms {
  >.classroom-info {
    >.classroom-code,
    >.classroom-teacher {
      opacity: 0.4;
    }

    &:hover {
      >.classroom-code,
      >.classroom-teacher {
        opacity: 0.6;
      }
    }
  }

  >.classroom-selected,
  >.classroom-selected:hover {
    >.classroom-code,
    >.classroom-teacher {
      opacity: 1;
    }
  }
}

// Same order as in lecture_schedule/_lecture_box.scss
@each $color in $lecture-colors {
  $i: index($lecture-colors, $color) - 1;

  .lecture-info.color-#{$i} {
    background-color: lighten($color, 20%);
    color: darken($color, 25%);

    &:hover {
      background-color: lighten($color, 15%);
    }

    &:active {
      background-color: lighten($color, 10%);
    }

    >.lecture-info-header {
      >.lecture-info-delete {
        &:hover {
          background-color: lighten($color, 5%);
        }

        &:active {
          background-color: $color;
        }
      }
    }

    .classroom-active {
      background-color: lighten($color, 20%);
    }
    .classroom-highlight {
      background-color: $color;
    }
    .classroom-highlight.classroom-conflict {
      background-color: #f00;
      color: black;
      opacity: 0.8;
    }
  }
}
