// 
//
// Accordion Layout
// =====================
//
// This file structures the accordion layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main 
// > div#lecture-explorer > div#accordion-window
//
//  div#accordion-window
//      div#accordion
//  ->      div#lecture-info
//              input#lecture-info-01
//              div#lecture-info-header
//                  label[for=lecture-info-01]
//                      div.lecture-info-code
//                      div.lecture-info-name
//              div#lecture-classrooms
//                  div.classrooms-header
//                      div.classroom-number
//                      div.classroom-teacher
//                      div.classroom-toggle 
//            ->    input#classroom-01
//                  label.classroom-info[for=classroom-01]
//                      div.classroom-number
//                      div.classroom-teacher
//                      div.classroom-toggle 
//            ->    ...
//  ->      ...
//
//

#accordion {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background: white;

  &:empty {
    display: none;
  }

  .lecture-info {
    padding: 4px 0;
    position: relative;
    user-select: none;
    cursor: default;

    transition: background-color ease .1s, opacity ease .1s, color ease .1s;

    &.slip-reordering {
      box-shadow: $shadow-default;
    }
     
    .lecture-info-header {
      display: grid;
      grid-template-columns: auto auto 1fr auto;
      align-items: center;
      grid-row-gap: 1px;
      padding: 4px 0;

        * {
          grid-column: 3;
        }

        .lecture-info-checkbox {
          grid-row: 1/3;
          grid-column: 2;

          width: 22px;
          margin: 0;
          
        }

        .lecture-info-delete {
          grid-row: 1/3;
          grid-column: 4;
          width: 24px;

          padding: 4px;
          position: relative;

          opacity: .5;
          font-size: 26px;
          line-height: 16px;

          transition: color ease .1s, opacity ease .1s;

          >img {
            @include center-block-horizontally();
            @include center-block-vertically();
            position: absolute;
            width: $width-icon-delete;
            opacity: 0.3;
          }
        }

        .lecture-info-handle {
           grid-row: 1/3;
           grid-column: 1;

           opacity: .3;
           margin: 2px;

           &:before {
             line-height: 0;
             vertical-align: middle;
           }
        }

        .lecture-info-code {
          font-size: 14px;
          text-align: left;
        }

        .lecture-info-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 13px;
        }
      }
    
    .lecture-info-description {
      padding: 4px $width-lecture-checkbox;
      display: none;

      .lecture-info-credits {
        margin-top: 8px;
        .lecture-info-credits-header {
          display: inline;
          vertical-align: top;
          font-weight: 500;
        }

        .lecture-info-credits-content {
          display: inline-block;
        }
      }
    }

    .lecture-classrooms {
      position: relative;
      display: none;
      overflow: hidden;
      cursor: default;
      padding: 4px $width-lecture-checkbox;

      .classrooms-header {
        padding-bottom: 2px;
        border-bottom: 1px solid;
        font-weight: 500;
      }

      .classroom-info {
         padding: 4px 0;

         transition: background-color ease .1s;

        .classroom-info-header {
          display: flex;
          align-items: center;

          .classroom-info-checkbox {
            flex: 0 0 auto;
            width: $width-lecture-checkbox;
            margin: 0;
          }

          .classroom-code {
            flex: 0 0 auto;
          }

          .classroom-teacher {
            flex: 1 0 0;
            padding: 0 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .classroom-vacancies-summary {
            flex: 0 0 auto;
          }
        }

        .classroom-info-schedules {
          margin-left: $width-lecture-checkbox;
          font-weight: lighter;
        }

        .classroom-info-obs {
          margin-left: $width-lecture-checkbox;
          font-weight: lighter;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        
        .classroom-info-vacancies {
          display: none;
          margin-top: 8px;
          width: 100%;
          padding-left: $width-lecture-checkbox;
          border-bottom: 1px solid;

          th {
            font-weight: 500;
          }
          
          td, th {
            text-align: center;

            &:first-child{
              width: 100%;
              text-align: left;
            }
          }
          
          .classroom-vacancy:not(.classroom-vacancy-group) {
            td { 
              padding-top: 4px;
            }
          }

          .classroom-vacancy-group {
            font-weight: lighter;
            border-top: none;

            td:first-child{
              padding-left: 12px;
            }
          }
        }

        &.classroom-open {
          .classroom-teacher {
            white-space: normal;
          }
          .classroom-info-obs {
            white-space: pre-wrap;
          }
          .classroom-info-vacancies{
            display: table;
          }
        }

        &.classroom-active {
          .classroom-info-header {
            font-weight: 500;
          }

          .classroom-info-obs {
            font-weight: normal;
          }

          .classroom-info-schedules {
             font-weight: normal;
          }
        }
      }
    }

    &.lecture-open {
      .lecture-info-header {
        .lecture-info-name {
          white-space: normal;
          height: auto;
          line-height: normal;
        }
      }

      .lecture-info-description {
        display: block;
      }

      .lecture-classrooms {
        display: block;
      }
    }
  }
}

// Same order as in lecture_schedule/_lecture_box.scss
@each $color in $lecture-colors {
  $i: index($lecture-colors, $color) - 1;

  #accordion .lecture-info.color-#{$i} {
    background-color: lighten($color, 20%);
    color: darken($color, 35%);

    &:hover {
      background-color: lighten($color, 15%);
    }

    &:active {
      background-color: lighten($color, 10%);
    }

    &.lecture-unavailable {
      color: rgba(darken($color, 35%), .4);
    }

    .lecture-info-header {
      .lecture-info-delete {
        &:hover {
          opacity: 1;
        }

        &:active {
          color: darken($color, 45%);
          opacity: 1;
        }
      }
    }

    .classroom-highlight {
      background-color: $color;
    }
    .classroom-highlight.classroom-conflict {
      background-color: #f00;
      color: black;
      opacity: 0.8;
    }
    
    @keyframes classroom-blink-#{$i} {
      0% {background-color: $color; }
      25% {background-color: $color;}
      100% {background-color: initial; }
    }

    .classroom-info.classroom-blink {
      animation: classroom-blink-#{$i} 1s ease-out;
    }
  }
}

.plan-placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .placeholder-icon {
      color: darkgray;
      text-align: center;
      font-size: 56px;
    }

    .placeholder-title {
      font-size: 16px;
      color: gray;
      text-align: center;
    }

    .placeholder-body {
      text-align: center;
      color: gray;
      margin-top: 32px;
    }
}

#accordion:not(:empty) + .plan-placeholder {
  display: none;
}