#plans {
  // to align position: mimic plans' children positioning of accordion window children
  border: 1px solid transparent;
  height: $lecture-explorer-plan-buttons-height;
}

.plan {
  width: calc(100%/3 - 1.4px);
  height: $lecture-explorer-plan-buttons-height;
  line-height: $lecture-explorer-plan-buttons-height;
  display: inline-block;
  position: relative;
  text-align: center;
  border-right: $border-default;
  border-bottom: $border-default;
  border-left: $border-default;
  border-top: 1px solid white;
  float: left;
  top: -2px;
  border-radius: 0 0 2px 2px;
  overflow: hidden;
  opacity: 0.5;

  &:not(:first-child) {
    // size of border
    margin-left: -1px;
  }
}

.plan-active {
  z-index: 2;
  opacity: 1;
}

.plan-options-open {
  height: auto;

  >.plan-tab-options-arrow > img {
    transform: rotate(180deg);
  }
}

.plan-tab-name {
  width: calc(70% - 5px);
  float: left;
  padding-left: 5px;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #aaa;
  }
}

.plan-tab-options-arrow {
  width: 30%;
  float: right;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #aaa;
  }

  >img {
    @include center-block-horizontally();
    @include center-block-vertically();
    width: 12px;
  }
}

.plan-tab-option {
  width: 100%;
  float: left;
  border-top: 1px solid rgba(200, 200, 200, 0.8);
  background-color: white;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #aaa;
  }
}

