// 
//
// Search and Add Layout
// =====================
//
// This file structures the basic search-and-add layout.
// 
// Affected HTML
// -------------
// html > body > div#page-container > div#main 
// > div#lecture-explorer > div#search-and-add
//
//  div#search-and-add
//      input#search
//      button#add-extra-activity
//      div#search-result-box
//  ->      div.search-result.lecture-info
//              div.lecture-info-code
//              div.lecture-info-description
//  ->      ...
//
//

#search,
#add-extra-activity,
#search-result-box {
    position: relative;
    display: inline-block;
    height: calc(100% - 2 * #{$search-and-add-border-width});
    border-color: $search-and-add-border-color;
    border-style: solid;
    border-width: $search-and-add-border-width;
    border-radius: 2px;
    box-sizing: border-box;
}
        
#search {
    width: 100%;
    padding: 0 $search-padding-horizontal;
    font-family: $font-family;
    font-size: $font-size;
    height: $search-box-height;

    &:focus {
        z-index: 11;
				//TODO can I remove this without consequences?
        //border-bottom-style: none;
        border-radius: 2px 2px 0 0;
        // removes default outline from input:focus and replaces it
        // with a shadow.
        outline: none;
        box-shadow: 0 -1px 6px 0 rgba(0, 0, 0, 0.4);

        // becomes translucent, "hiding" from user's view
        ~ #add-extra-activity {
            opacity: 0.4;
        }
				//TODO can I remove this without consequences?
        //~ #search-result-box {
        //    visibility: visible;
        //}
    }
}

// it's visible only on #search:focus
#search-result-box {
    position: absolute;
    // TODO change top to variable; it is 1px more than the 
    //      search box height.
    top: ($search-box-height - 1);
    z-index: 10;
    display: block;
    width: 100%;
    height: auto;
    // TODO change [max/min]-height to variable.
    // TODO check if with more lectures than max-height it breaks.
    max-height: 300px;
    min-height: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: default;
    background-color: $white;
    border-radius: 0 2px 2px 2px;
    visibility: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

#search:focus:valid ~ #search-result-box:not(:empty), #search-result-box:not(:empty):active {
    visibility: visible;
}

.search-result.empty-result {
    color: gray;
    font-size: larger;
    margin: 20px 8px;
    text-align: center;
}

.search-result.lecture-info {
    padding: 6px 4px;
    border-bottom: 1px solid rgba(159, 159, 159, 0.8);
    display: block;

    & .lecture-info-description {
        color: #666;
        margin-top: 4px;
    }
}

.search-result-selected {
        background-color: $highlight-background;
        color: $highlight-text;
}

#search-options-summary {
    margin: 2px 0px;
    user-select: none;
    color: gray;
    cursor: pointer;

    flex: 1 0 0;
    
    & .selected-option {
        color: $header-color-tertiary;
        font-weight: bold;
    }

    &:hover {
        color: #333;
    }

    &:active {
        color: black;
    }
}

#search-summary-wrapper {
    display: flex;
}

#search-options-clear {
    background: white;
    border: none;
    color: gray;

    white-space: nowrap;
    visibility: hidden;
    flex: 0 0 0;

    &.show-options, &.show-search {    
        visibility: visible;
        margin-left: 4px;
        flex: 0 0 auto;
    }

    &:hover {
        color: #333;
    }

    &:active {
        color: black;
    }
}

#search-options {
    visibility: hidden;
    padding-top: 4px;
    height: 0;
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 4px;
    user-select: none;
}

#search-options.show {
    visibility: visible;
    height: auto;
}

#search-options label {
    display: block;
    color: #333;
    text-align: center;
}

#search-options input, #search-options select {
	max-width: 100%;
}

#search-options select {
    width: 100%;
}

#campus-select-label {
    grid-row: 2;
    grid-column: 1;
}

#unit-select-label {
    grid-row: 2;
    grid-column: 2;
}

#department-select-label {
    grid-row: 3;
    grid-column: 2;
}

#search-options-timeframes {
    grid-row: 4;
    grid-column: 1/-1;

    margin-top: 8px;
    text-align: center;

    & label {
        display: inline;
    }
}

#search-options-browser-error {
    grid-row: -1;
    grid-column: 1/-1;
    color: #666;
}