
#upload-warning {
  right: 0;
  bottom: 44px;
  display: inline-block;
  position: absolute;
  color: red;
  visibility: hidden;
}

#upload-warning.upload-warning-old-version {
  visibility: visible; 
}

#upload-button {
  border: $border-default;
  height: 40px;
  width: 220px;
  align-items: center;
  display: inline-flex;
  margin: 12px;
  flex: 1 1 auto;
  user-select: none;
  cursor: default;

  &:hover {
    background-color: #ddd;
  }

  &:active {
    background-color: #aaa;
  }

  > input {
    display: none;
  }

  // Text 'Upload' inside the label
  > div,
  > img {
    text-align: center;
  }

  > img {
    width: 20px;
    right: 10px;
  }

  > div {
    width: calc(100% - 30px);
    height: 1em;
  }
}