[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"html5lib" = "*"
aiohttp = "*"
python-dateutil = "*"
"beautifulsoup4" = "*"
aiodns = "*"
multi-key-dict = "*"

[dev-packages]

[requires]
python_version = "3.6"
