// 
//
// Header Icons Layout
// ===================
//
// This file structures the icons' layout inside header.
// 
// Affected HTML
// -------------
// html > body > div#page-container > header > ul#icons
//
//  ul#icons
//  ->  li.icon
//          div.hover-mask
//          img
//  ->  ...
//
//

#icons>li.icon {
    position: relative;
    display: inline-block;
    width: $icons-square-size;
    height: $icons-square-size;
    margin-left: $icons-spacing;
    vertical-align: top;
    user-select: none;
    
    >.hover-mask, 
    >img {
        @include center-block-horizontally();
        @include center-block-vertically();
        position: absolute;
    }
    
    >.hover-mask {
        // arbitrary value that looks good
        // TODO change to variable
        width: 78%;
        height: 78%;
        background-color: rgba(255, 255, 255, 0.2);
        border-width: 0px;
        border-radius: 3px;
        visibility: hidden;
        // offset-x | offset-y | blur-radius | spread-radius | color
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
    }
    
    &::before {
        @include triangle-up($tooltip-triangle-width, $tooltip-triangle-height);
        position: absolute;
        // makes element appear just below the parent
        top: 100%;
        left: calc(50% - (#{$tooltip-triangle-width} / 2));
        // ::before z-index is 1 more than ::after z-index. This is to 
        // prevent the ::after box-shadow from appearing on top of the 
        // triangle.
        z-index: 101;
        border-bottom-color: $tooltip-color-background;
        content: "";
        visibility: hidden;
    }

    &::after {
        position: absolute;
        // top+left centers the tooltip. Remember that the value 
        // '100%' here refers to the parent size.
        top: calc(100% + #{$tooltip-triangle-height});
        left: calc(-1 * (#{$tooltip-width} + (2 * #{$tooltip-padding-horizontal}) - 100%) / 2);
        z-index: 100;
        display: block;
        width: $tooltip-width;
        height: auto;
        padding: $tooltip-padding-vertical $tooltip-padding-horizontal;
        font-size: $tooltip-font-size;
        // TODO change to variable
        line-height: 21px;
        color: $tooltip-color-text;
        text-align: center;
        background-color: $tooltip-color-background;
        // TODO change to variable
        border-radius: 3px;
        content: attr(data-description);
        visibility: hidden;
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    }

    &:last-child::after {
        right: 0;
        // overwrites left property
        left: auto;
    }

    &:hover{
        >.hover-mask, 
        &::before, 
        &::after {
            visibility: visible;
        }
    }

    &:focus {
        >.hover-mask,
        &::before,
        &::after {
            visibility: hidden;
            outline: 0;
        }
    }

    &:active>.hover-mask {
        // change colors between background and shadow
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.2);
    }

    &:first-child { 
        margin-left:0;
    }
}