
#save-controller {
  display: inline-block;
  flex: 0 0 auto;

  #user-identifier:disabled {
    display: inline-block;
    color: white;
    font-size: 14px;
    background: transparent;
    border: none;
    text-align: right;
  }
}