// TODO Mudar o nome para algo mais claro ??

@charset 'UTF-8';
 
// 1. Base
@import 'base/_reset.scss',
		'base/_variables.scss',
        'base/_mixins.scss';

// 2. Themes ('create' and set color variables)
@import 'themes/_default.scss';
 
// 3. Layouts
@import 'layout/_base_layout.scss',
        'layout/_header.scss',
        'layout/_footer.scss',
        'layout/_lecture_schedule.scss',
        'layout/_lecture_explorer.scss';

// 4. Modules
@import 'modules/header/_icons.scss',
        'modules/header/_banner.scss',
		'modules/lecture_explorer/_base_lecture_info.scss',
		'modules/lecture_explorer/_search_and_add.scss',
        'modules/lecture_explorer/_accordion.scss',
        'modules/lecture_explorer/_plan_buttons.scss',
        'modules/lecture_explorer/_upload.scss',
        'modules/lecture_explorer/_credits.scss',
        'modules/lecture_schedule/_lecture_box.scss',
        'modules/lecture_schedule/_combination_controller.scss',
        'modules/overlay/_drop.scss',
        'modules/overlay/_dialogs.scss',
        'modules/overlay/_courses.scss',
        'modules/overlay/_contextmenus.scss',
        'modules/overlay/_share.scss',
        'modules/overlay/_print.scss',
        'modules/_animations.scss';
