// Fonts
$font-family: tahoma, helvetica;
$font-size: 12px;

// Base
$page-max-width: 960px;
$page-min-width: 600px;
$main-padding: 15px;
$header-height: 40px;
$footer-height: $header-height;
$header-bottom-line: $header-height / 4;
$lecture-schedule-max-height: 600px;
$lecture-schedule-min-height: 400px;
$lecture-schedule-padding-top: 40px;
$lecture-explorer-max-height: $lecture-schedule-max-height;
$lecture-explorer-min-height: $lecture-schedule-min-height;
$page-min-height: $header-height + $header-bottom-line + 2 * $main-padding + $lecture-schedule-min-height + $footer-height;

// Header
$font-size-logo: 26px;
$logo-letter-spacing: 1px;
$icons-square-size: $header-height;
$icons-spacing: 20px;
$tooltip-triangle-width: 12px;
$tooltip-triangle-height: 6px;
$tooltip-width: 100px;
$tooltip-padding-horizontal: 8px;
$tooltip-padding-vertical: 5px;
$tooltip-font-size: 13px;

// Lecture Schedule
$column-time-width: 40px;
$hour-height: (100% / 18);
$column-background-line-height: 2px;
$week-day-underline-height: 4px;
$font-size-hour: 13px;

// Lecture Explorer
$scroll-bar-width: 15px;
$search-and-add-height: 30px;
$search-and-add-border-width: 2px;
$search-padding-horizontal: 5px;

$width-lecture-code: 58px;
$width-lecture-delete: 30px;
$width-icon-delete: 20px;

// Animation Variables
$timing: .4s;
$ease: cubic-bezier(0.865, 0.140, 0.095, 0.870);
