// TODO mudar nome da classe para lecture-classroom ou lecture-box ou lecture-?, ou nao mudar?
.lecture {
	background-color: #7adf56;
	position: absolute;
	width: 100%;
}

.lecture-highlight {
	color: white;
	background-color: black;
}

.lecture-hide {
	display: none;
}