.schedule-box {
	position: absolute;
	width: 100%;
  visibility: hidden;
}

.schedule-box-show,
.schedule-box-highlight {
  visibility: visible;
}

// Same order as in lecture_explorer/_accordion.scss
@each $color in $lecture-colors {
  $i: index($lecture-colors, $color);

  .schedule-box.color-#{$i} {
    background-color: lighten($color, 20%);
    color: darken($color, 25%);
  }

  .schedule-box-highlight.color-#{$i} {
    background-color: $color;
    color: darken($color, 25%);
  }
}

.schedule-box-highlight.schedule-box-highlight-conflict {
  background-color: red;
  color: black;
  opacity: 0.8;
  z-index: 1;
}
